<!DOCTYPE html>
<html lang="pl">
<head>
    <meta chatset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="style.css"> 
</head>
<body>
    <h1>Witaj na mojej stronie domowej</strong></h1>
    <img src="https://scontent-fra3-1.xx.fbcdn.net/v/t39.30808-6/278648071_2282299505250368_8441595879368840466_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=sm6ZDrZIV8UAX8yhKi2&_nc_ht=scontent-fra3-1.xx&oh=00_AfD917KhIgbNeWK0roOcoA2QClq5v7NMT19dAXaJ3MVVmg&oe=6453224E">
    {% block content %}{% endblock %}
</body>
</html>
    